@tailwind base;
@tailwind components;
@tailwind utilities;

.cart::-webkit-scrollbar {
  width: 10px;
}

.cart::-webkit-scrollbar-track {
  background-color: rgb(117, 117, 117);
}

.cart::-webkit-scrollbar-thumb {
  background: #323232;
  border-radius: 25px;
}
